# чтобы установить все нужные пакеты введите:
# pip install -r requirements.txt
# в терминале
altgraph==0.17.4
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
brotlipy==0.7.0
certifi
cffi
charset-normalizer
cryptography
Eel==0.16.0
flit_core
future==1.0.0
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==3.0.3
idna
importlib-metadata==6.7.0
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
numpy
opencv-contrib-python==4.10.0.84
packaging
pefile==2023.2.7
Pillow==9.4.0
pycparser
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.7
pyOpenSSL
pyparsing==3.1.2
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
PySocks
pywin32-ctypes==0.2.2
QtPy
requests
shiboken6==6.5.3
six
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
typing_extensions
urllib3
whichcraft==0.6.1
win-inet-pton
wincertstore==0.2
zipp==3.15.0
zope.event==5.0
zope.interface==6.4.post2
